<div class="container">
  <div class="h2">いざ！チュートリアル</div>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="row mb-3">
        <p>
          【チュートリアル一覧！】
        </p>
        <p>※ 本チュートリアルは<span><a href="https://angular.jp/tutorial" target="_blank">公式</a></span>をベースに実施しています！</p>
        <ul class="mt-2 ex-list">
          <li>
            <a (click)="toInitProject()" href="javascript:void(0)">新規プロジェクト作成(Angular CLI使うよ！)</a>
          </li>
          <li><a href="#">メインコンポーネント作成</a></li>
          <li><a href="#">データ整理、表示</a></li>
          <li><a href="#">フィーチャーコンポーネント作成</a></li>
          <li><a href="#">サービス作成、利用</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div style="text-align: center;">
        <img [src]="tutorialImgSrc" alt="tutorial_img" width="100%" height="100%">
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button class="btn-ang text-center" (click)="toBack()">Back ><br>
      まずはチュートリアル！の前に・・・</button>
  </div>
</div>
