.btn-ang {
  background: linear-gradient(135deg, #fed878 0%, #fa505e 100%);
  background: -webkit-linear-gradient(-45deg, #fed878 0%, #fa505e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  font-size: medium;
}

// TODO : hover時に何か入れる？
// .btn-ang:hover {
//   background: none;
//   background-color: gold!important;
// }
