<div *ngIf="true">
  <div class="container">
    <div class="h1" style="text-align: center;">Welcom To Angular !</div>
    <div class="row">
      <div class="col-md-3" style="text-align: center;">
        <img [src]="angLogoImgSrc" alt="angular_logo">
      </div>
      <div class="col-md-9">
        <span
          style="color: gray;">Angular（アンギュラー）は、Googleと個人や企業のコミュニティによって開発されているTypeScriptベースのオープンソースのフロントエンドWebアプリケーションフレームワークである。</span><br>
        <a href="https://ja.wikipedia.org/wiki/Angular" target="_blank">by wiki</a><br />
        Webアプリの開発が激化する近年において、SPA（Single Page Application）における技術進歩は目まぐるしいものとなっています。<br />
        中でも、「Angular」「React」「Vue.js」は三大JSフレームワークなどと呼ばれ、おおよそ半月ごとのメジャーバージョンアップ計画など日々アップデートが絶えない技術領域のため、キャッチアップするにも苦労を要するかもしれません。<br />
        しかし、いずれもJS(またはTS)やブラウザの基本を抑えることで(またはそれらの基本を押さえるために)、理解を深めていくことができます。<br />
        <br />
        本サイトでは、Angularについて少し学んでいくことにします。<br />
        <br />
        最後までついてきていただけると、なんとなくAngularについて理解を深めることができるかもしれません。<br />
        それでは、よろしくお願いします
      </div>
    </div>
    <br />
    <div class="row sect">
      <div class="h2">Beginning Angular</div>
      <hr />
      <div class="col-md-2 mb-2"><a (click)="toLearnBuiltEnv()" href="javascript:void(0)" class="sec-link">(噂の)環境構築</a>
      </div>
      <div class="col-md-3 mb-2"><a (click)="toLearnBeforeTutorial()" href="javascript:void(0)"
          class="sec-link">まずはチュートリアル！の前に・・・</a>
      </div>
      <div class="col-md-3 mb-2"><a (click)="toLearnTutorial()" href="javascript:void(0)"
          class="sec-link">いざ！チュートリアル</a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="h2">Playing Angular</div>
    </div>
    <br />
    <div class="row">
      <div class="h2">About FrontEnd<span class="small">~before Angular~</span></div>
      <p>おさらいは積極的に！(基礎は最強)</p>
      <a href="#" target="_blank">フロント基礎</a>
      <a href="#" target="_blank">開発(またはものづくり)の基礎</a>
    </div>
  </div>
</div>
