<div class="container">
  <h1 style="text-align: center;">Angular 学ぶよ！</h1>
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <img [src]="angLogoImgSrc" alt="angular_logo">
    </div>
    <div class="col-md-9">
      <span
        style="color: gray;">Angular（アンギュラー）は、Googleと個人や企業のコミュニティによって開発されているTypeScriptベースのオープンソースのフロントエンドWebアプリケーションフレームワークである。</span><br>
      <a href="https://ja.wikipedia.org/wiki/Angular">by wiki</a><br />
      Webアプリの開発が激化する近年において、SPA（Single Page Application）における技術進歩は目まぐるしいものとなっています。<br />
      中でも、「Angular」「React」「Vue.js」は三大JSフレームワークなどと呼ばれ、おおよそ半月ごとのメジャーバージョンアップ計画など日々アップデートが絶えない技術領域のため、キャッチアップするにも苦労を要するかもしれません。<br />
      しかし、いずれもJS(またはTS)やブラウザの基本を抑えることで(またはそれらの基本を押さえるために)、理解を深めていくことができます。<br />
      <br />
      本サイトでは、Angularについて少し学んでいくことにします。<br />
      <br />
      最後までついてきていただけると、なんとなくAngularについて理解を深めることができるかもしれません。<br />
      それでは、よろしくお願いします
    </div>
  </div>
  <br />
  <div class="row">
    <h2>Angularを学ぶ！</h2>
  </div>
  <br />
  <div class="row">
    <h2>Angularで遊ぶ！？</h2>
  </div>
  <br />
  <div class="row">
    <h2>(Angularを学ぶ前に)おさらいするよ！</h2>
    <p>おさらいは積極的に！(基礎は最強)</p>
    <a href="#" target="_blank">フロント基礎</a>
    <a href="#" target="_blank">開発(またはものづくり)の基礎</a>
  </div>
</div>
