<div class="container">
  <div class="h2">新規プロジェクト作成</div>
  <hr />
  <div class="row">
    <p>
      では、プロジェクトを作成していきましょう！ <br />
      ワークスペース(デスクトップなど)でCLIを使ってAngularプロジェクトを作成します。
    </p>
    <code style="width: 100%;">
      ng new angular-tour-of-heroes
    </code>
    <div class="mt-3 col-md-6">
      <strong>
        ① Angularの初期設定
      </strong>
      <p>ルーティング設定とstylesheetを選択します</p>
      <div>
        <img [src]="selectInitConfigImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <div class="mt-3 col-md-6">
      <strong>
        ② 新規作成プロジェクトの確認
      </strong>
      <p>initializeが成功するとangular-tour-of-heroes(指定した名称)ディレクトリが作成されます。</p>
      <div>
        <img [src]="createdProjectImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <div class="mt-3 col-md-6">
      <strong>
        ③ Angular 起動！
      </strong>
      <p>作成したプロジェクトからAngularを起動してみましょう♪</p>
      <div>
        <img [src]="initServeImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <div class="mt-3 col-md-6">
      <strong>
        ④ Welcomページの確認
      </strong>
      <p>Welcomページが表示されたら大成功です🎉🎉</p>
      <div>
        <img [src]="angularWelcomImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <div class="mt-3 col-md-6">
      <strong>
        ⑤ ちょっといじってみましょう(component)
      </strong>
      <div>
        <img [src]="changeComponentImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <div class="mt-3 col-md-6">
      <strong>
        ⑥ ちょっといじってみましょう(html)
      </strong>
      <div>
        <img [src]="changeHtmlImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <div class="mt-3 col-md-6">
      <strong>
        ⑦ いじった結果の確認
      </strong>
      <p>下記のようなちゃっちいページが表示されたら、それはあなたのAngularです！</p>
      <div>
        <img [src]="babyInitImg" alt="tutorial_img" style="width: 100%;">
      </div>
    </div>
    <p>以上、Angularプロジェクト作成してみました。次回より、Angularの機能を色々追加していきましょう♪<br />
      お疲れ様でした🎉🎉🎉</p>
  </div>
</div>
